{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}
{% block content %}
{% if form.errors %}
    <p style="color: red">ユーザー名とパスワードが一致しません。</p>
    {% endif %}
    {% if user.is_authenticated %}
    <h2>すでにログインしています。</h2>
    {% else %}
    <div class="formContainer">
        <form method="post">
            {% csrf_token %}
            <h1>ログインフォーム</h1>
            <hr />
            <div class="uiForm">
                <div class="formField">
                    <label for="username">ユーザー名:</label>
                    <input type="text" placeholder="ユーザー名" id="username">
                </div>
                <div class="formField">
                    <label for="password">パスワード:</label>
                    <input type="password" placeholder="パスワード" id="password">
                </div>
                <button class="submitButton">ログイン</button>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}

 
<body>
    
</body>
</html>