{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="formContainer">
    <form method="post">
        {% csrf_token %}
        <h1>サインナップ</h1>
        <hr />
        <div class="uiForm">
            {% for field in form %}
            <div class="formField">
                {{ field.label_tag}}
                {{ field }}
            </div>
            {% for error in field.errors %}
            <p style="color:red">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <button class="submitButton">サインナップ</button>
        </div>
    </form>
</div>
{% endblock %}