body{
    font-family: "Noto Sans JP", sans-serif;
    background-color: #F5F7FD;
}
.titleContainer {
    width: 100%;
}
.titleContainer, .timeContainer {
    display: flex;
}
.containerRow {
    display: flex;
}
.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100px;
    width: 160px;
    margin: 8px 8px;
}

.contentField {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
}
.content {
    width: 100%;
}

.mainContent, .subContent {
    margin: 0 0;
}

.mainContent {
    font-size: 25px;
}
.subContent {
    font-size: 15px;
}
h5 {
    color: #193A95;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0;
}